params {
	kits {
		'TruSeq' {
			adapter = "TGGAATTCTCGGGTGCCAAGG"
			adapter_2 = ''
		}
		'Qiaseq' {
			adapter = "AACTGTAGGCACCATCAAT"
			adapter_2 = ''
		}
		'Nextflex' {
			adapter = "NNNNTGGAATTCTCGGGTGCCAAGG"
			adapter_2 = ''
		}
		'Nebnext' {
			adapter = "AGATCGGAAGAGCACACGTCT"
			adapter_2 = ''
		}
		'Realseq' {
			adapter = "TGGAATTCTCGGGTGCCAAGG"
			adapter_2 = ''
		}

	}
}
