params {
	genomes {
		'human' {	
			gtf = "$baseDir/assets/miRBase/v22/hsa.gff3"
			ftp = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/405/GCA_000001405.15_GRCh38/seqs_for_alignment_pipelines.ucsc_ids/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"
		}
		'mouse' {
			gtf = "$baseDir/assets/miRBase/v22/mmu.gff3"
			ftp = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/635/GCA_000001635.4_GRCm38.p2/GCA_000001635.4_GRCm38.p2_genomic.fna.gz"
		}
		'drosophila' {
			gtf = "$baseDir/assets/miRBase/v22/dme.gff3"
			ftp = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/001/215/GCA_000001215.4_Release_6_plus_ISO1_MT/GCA_000001215.4_Release_6_plus_ISO1_MT_genomic.fna.gz"
		}
		'celegans' {
			gtf = "$baseDir/assets/miRBase/v22/cel.gff3"
			ftp = "ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/000/002/985/GCA_000002985.3_WBcel235/GCA_000002985.3_WBcel235_genomic.fna.gz"
		}
	}
}
