params.igenomes_base = "/ifs/data/nfs_share/ikmb_repository/references/iGenomes/references"

executor {
  queueSize=100
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }

}

singularity {
 enabled = true
 runOptions = "-B /ifs -B /home"
}
